<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if page_name != 'shows' %}
        <a href="{% url 'main' %}"><button>Shows</button></a>
    {% endif %}
    {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}"><button>Logout</button></a>
        <a href="{% url 'orders' %}"><button>Orders</button></a>
            {% if request.user.is_superuser %}
                <a href="{% url 'places' %}"><button>Places list</button></a>
                <a href="{% url 'add place' %}"><button>Add place</button></a>
                <a href="{% url 'add film' %}"><button>Add film</button></a>
                <a href="{% url 'add show' %}"><button>Add show</button></a>
            {% endif %}
        {% else %}
        <a href="{% url 'login' %}"><button>Login</button></a>
        <a href="{% url 'registrate' %}"><button>Registrate</button></a>
    {% endif %}
    {% for message in messages %}
        <h2 style="color: {% if message.level_tag == 'error' %}
            red
        {% elif message.level_tag == 'info'%}green{% endif %}">
        {{ message }}
        </h2>
        {{ message }}

    {% endfor %}
    {% block info %}
    {% endblock %}
</body>
</html>