{% extends 'base.html' %}

{% block info %}

    <a href="{% url 'main' %}?sort=price{% if request.GET.date %}&date={{ request.GET.date }}{% endif %}
    {% if page_obj.number != 1 %}&page={{ page_obj.number }}{% endif %}">
        <button>Sort by price</button></a>
    <a href="{% url 'main' %}?sort=date{% if request.GET.date %}&date={{ request.GET.date }}{% endif %}
    {% if page_obj.number != 1 %}&page={{ page_obj.number }}{% endif %}">
        <button>Sort by date</button></a>

    <a href="{% url 'main' %}?date=today{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}
    {% if page_obj.number != 1 %}&page={{ page_obj.number }}{% endif %}">
        <button>Today in cinema</button></a>
    <a href="{% url 'main' %}?date=tomorrow{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}
    {% if page_obj.number != 1 %}&page={{ page_obj.number }}{% endif %}">
        <button>Tomorrow in cinema</button></a>
    {% if request.GET.date %}
        <a href="{% url 'main' %}{% if request.GET.sort %}?sort={{ request.GET.sort }}{% endif %}
        {% if page_obj.number != 1 %}&page={{ page_obj.number }}{% endif %}">
            <button>All shows</button>
        </a>
    {% endif %}

    {% for object in object_list %}
        <form method="post" action="{% url 'order' %}">
        {% csrf_token %}
            <h3>{{ object.film.name }} at {{ object.show_time_start }} for {{ object.price }}</h3>
            {% if user.is_authenticated %}
                <input type="number" name="amount" value="0" min="1">
                <input type="hidden" name="user" value="{{ user.id }}">
                <input type="hidden" name="show_id" value="{{ object.id }}">
                <input type="hidden" name="price" value="{{ object.price }}">
                <input type="submit" value="Buy">
            {% endif %}
        </form>
        {% if user.is_superuser and object.busy == 0 %}
            <a href="{% url 'update show' pk=object.id %}"><button>Change</button></a>
        {% endif %}
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1{% if request.GET.date %}&date={{ request.GET.date }}{% endif %}">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}
                {% if request.GET.date %}&date={{ request.GET.date }}{% endif %}
                {% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}">
                    previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}
                {% if request.GET.date %}&date={{ request.GET.date }}{% endif %}
                {% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}">
                    next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}
                {% if request.GET.date %}&date={{ request.GET.date }}{% endif %}
                {% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}">
                    last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}